@model CreateRegisterDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <title>MultiShop Kayıt Paneli</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/css/opensans-font.css">
    <link rel="stylesheet" type="text/css" href="~/colorlib-regform-30/fonts/line-awesome/css/line-awesome.min.css">
    <!-- Jquery -->
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/colorlib-regform-30/css/style.css" />
    <!-- SweetAlert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Toastify -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <style>
        .form-group {
            display: flex;
            flex-direction: column;
        }

        .form-row {
            display: flex;
            gap: 10px;
        }

            .form-row .form-row-1 {
                flex: 1;
                display: flex;
                flex-direction: column;
            }

        .requirements {
            list-style-type: none;
            padding: 0;
            margin-top: 10px;
            align-self: center;
        }

            .requirements li {
                color: red;
                text-decoration: line-through;
            }

                .requirements li.valid {
                    color: green;
                    text-decoration: none;
                }

        .toggle-password {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 38%; /* Göz simgesini biraz yukarı taşı */
            transform: translateY(-50%);
        }

        .form-row-1 {
            position: relative;
        }
    </style>
</head>

<body class="form-v4">
    <div class="page-content">
        <div class="form-v4-content">
            <div class="form-left">
                <h2>MultiShop E-Ticaret</h2>
                <p class="text-1">MultiShop projemiz üzerinden e-ticaret işlemlerini gerçekleştirebilmek, indirimli ürünler ve fırsatlardan haberdar olmak adına 1 dakikada kayıt işlemini gerçekleştirin.</p>
                <p class="text-2">Eğer bir hesabınız varsa kayıt olmaya gerek duymadan aşağıdaki link üzerinden hemen giriş sayfasına gidebilirsiniz.</p>
                <div class="form-left-last">
                    <a href="/Login/Index/" class="account">Giriş Yap</a>
                </div>
            </div>
            <form id="registerForm" class="form-detail" method="post">
                <h2>MultiShop Kayıt Formu</h2>
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-row-1">
                            <label for="first_name">Adınız</label>
                            <input type="text" asp-for="Name" id="first_name" class="input-text" required>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-row-1">
                            <label for="last_name">Soyadınız</label>
                            <input type="text" asp-for="Surname" id="last_name" class="input-text" required>
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row-1">
                        <label for="your_email">Email Adresi</label>
                        <input type="email" asp-for="Email" id="your_email" class="input-text" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-row-1">
                        <label for="your_username">Kullanıcı Adınız</label>
                        <input type="text" asp-for="Username" id="your_username" class="input-text" required>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-row">
                        <div class="form-row-1">
                            <label for="password">Şifre</label>
                            <div style="position: relative;">
                                <input type="password" asp-for="Password" id="password" class="input-text" required>
                                <span class="toggle-password" id="toggle-password">
                                    👁️
                                </span>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>

                            <ul class="requirements">
                                <li id="length" class="invalid">En az 8 karakter</li>
                                <li id="uppercase" class="invalid">En az 1 büyük harf</li>
                                <li id="number" class="invalid">En az 1 sayı</li>
                                <li id="special" class="invalid">En az 1 özel karakter</li>
                            </ul>
                        </div>
                        <div class="form-row-1">
                            <label for="comfirm_password">Şifre Tekrar</label>
                            <div style="position: relative;">
                                <input type="password" asp-for="ConfirmPassword" id="comfirm_password" class="input-text" required>
                                <span class="toggle-password" id="toggle-confirm-password">
                                    👁️
                                </span>
                            </div>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-row-last">
                        <button type="submit" class="register" style="height:35px" id="registerButton" disabled>Kayıt Ol</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <script>
        $(document).ready(function () {
            // Şifre Görünürlük Toggle
            function togglePasswordVisibility(passwordField, toggleButton) {
                $(toggleButton).on('click', function () {
                    const type = $(passwordField).attr('type') === 'password' ? 'text' : 'password';
                    $(passwordField).attr('type', type);
                });
            }

            togglePasswordVisibility('#password', '#toggle-password');
            togglePasswordVisibility('#comfirm_password', '#toggle-confirm-password');

            // Şifre Validasyonu
            const createPw = document.querySelector("#password"),
                confirmPw = document.querySelector("#comfirm_password"),
                submitBtn = document.querySelector("#registerButton");

            const lengthReq = document.querySelector("#length");
            const uppercaseReq = document.querySelector("#uppercase");
            const numberReq = document.querySelector("#number");
            const specialReq = document.querySelector("#special");

            createPw.addEventListener("input", () => {
                let val = createPw.value.trim();
                let lengthValid = val.length >= 8;
                let uppercaseValid = /[A-Z]/.test(val);
                let numberValid = /[0-9]/.test(val);
                let specialValid = /[!@@#$%^&*(),.?":{}|<>]/.test(val);

                lengthReq.classList.toggle("valid", lengthValid);
                lengthReq.classList.toggle("invalid", !lengthValid);

                uppercaseReq.classList.toggle("valid", uppercaseValid);
                uppercaseReq.classList.toggle("invalid", !uppercaseValid);

                numberReq.classList.toggle("valid", numberValid);
                numberReq.classList.toggle("invalid", !numberValid);

                specialReq.classList.toggle("valid", specialValid);
                specialReq.classList.toggle("invalid", !specialValid);

                if (lengthValid && uppercaseValid && numberValid && specialValid) {
                    confirmPw.disabled = false;
                } else {
                    confirmPw.disabled = true;
                    submitBtn.disabled = true;
                }
            });

            confirmPw.addEventListener("input", () => {
                if (createPw.value === confirmPw.value) {
                    submitBtn.disabled = false;
                } else {
                    submitBtn.disabled = true;
                }
            });

            // Form Validasyonu
            $("#registerForm").validate({
                rules: {
                    Name: {
                        required: true,
                        minlength: 2
                    },
                    Surname: {
                        required: true,
                        minlength: 2
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    Username: {
                        required: true
                    },
                    Password: {
                        required: true
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: "#password"
                    }
                },
                messages: {
                    Name: {
                        required: "Lütfen adınızı girin",
                        minlength: "Adınız en az 2 karakter uzunluğunda olmalıdır"
                    },
                    Surname: {
                        required: "Lütfen soyadınızı girin",
                        minlength: "Soyadınız en az 2 karakter uzunluğunda olmalıdır"
                    },
                    Email: {
                        required: "Lütfen e-posta adresinizi girin",
                        email: "Geçerli bir e-posta adresi girin"
                    },
                    Username: {
                        required: "Lütfen kullanıcı adınızı girin"
                    },
                    Password: {
                        required: "Lütfen şifrenizi girin"
                    },
                    ConfirmPassword: {
                        required: "Lütfen şifrenizi doğrulayın",
                        equalTo: "Şifreler eşleşmiyor"
                    }
                },
                errorPlacement: function (error, element) { // Hata mesajlarını Toast ile göster
                    Toastify({
                        text: error.text(),
                        duration: 3000,
                        gravity: "top", // `top` or `bottom`
                        position: "right", // `left`, `center` or `right`
                        backgroundColor: "linear-gradient(to right, #ff5f6d, #ffc371)"
                    }).showToast();
                },
                submitHandler: function (form) {
                    $.ajax({
                        type: $(form).attr('method'),
                        url: $(form).attr('action'),
                        data: $(form).serialize(),
                        dataType: 'json',
                        
                        success: function (response) {
                            console.log(response);
                            if (response.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Kayıt Başarılı!',
                                    text: 'Başarıyla kayıt oldunuz.',
                                    timer: 3000,
                                    timerProgressBar: true
                                }).then(() => {
                                    window.location.href = '/Login/Index';
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Kayıt Hatası',
                                    text: 'Kayıt sırasında bir hata oluştu.',
                                    timer: 3000,
                                    timerProgressBar: true
                                });
                            }
                        },
                        error: function (xhr, status, error) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Hata',
                                text: 'Bir hata oluştu. Lütfen tekrar deneyin.',
                                timer: 3000,
                                timerProgressBar: true
                            });
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>