<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3">Gayrimenkul Çeşitleri</h1>
            <p>Kiralamak, satın almak istediğiniz gayrimenkulleri, bölgeye, ihtiyaca göre sizlere sunuyoruz.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="/real-estate-html-template/img/icon-apartment.png" alt="Icon">
                        </div>
                        <h6>Apartman</h6>
                       @*  Adetler dinamikleşmeli eklendikçe artmalı *@
                        <span>100 çeşit</span> 
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="/real-estate-html-template/img/icon-villa.png" alt="Icon">
                        </div>
                        <h6>Villa</h6>
                        <span>100 çeşit</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="/real-estate-html-template/img/icon-house.png" alt="Icon">
                        </div>
                        <h6>Ev</h6>
                        <span>100 çeşit</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="/real-estate-html-template/img/icon-housing.png" alt="Icon">
                        </div>
                        <h6>Ofis</h6>
                        <span>100 çeşit</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="/real-estate-html-template/img/icon-building.png" alt="Icon">
                        </div>
                        <h6>İnşaat</h6>
                        <span>100 çeşit</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="/real-estate-html-template/img/icon-neighborhood.png" alt="Icon">
                        </div>
                        <h6>Şehir Merkezi</h6>
                        <span>100 çeşit</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="/real-estate-html-template/img/icon-condominium.png" alt="Icon">
                        </div>
                        <h6>Mağaza</h6>
                        <span>100 çeşit</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item d-block bg-light text-center rounded p-3" href="">
                    <div class="rounded p-4">
                        <div class="icon mb-3">
                            <img class="img-fluid" src="/real-estate-html-template/img/icon-luxury.png" alt="Icon">
                        </div>
                        <h6>Garaj</h6>
                        <span>100 çeşit</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>