
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="/real-estate-html-template/img/about.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">En iyi bölgede, en iyi seçeneği bulalım</h1>
                <p class="mb-4">Site içi seçeneklerimiz, ıslak alanları ile tatil gibi hayat sunuyoruz.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Özel alan</p>
                <p><i class="fa fa-check text-primary me-3"></i>İsteğe göre bölge seçeneği</p>
                <p><i class="fa fa-check text-primary me-3"></i>Canlı merkezi bölgeler</p>
                <a class="btn btn-primary py-3 px-5 mt-3" href="/Contact/Index">Daha fazla bilgi edinin</a>
            </div>
        </div>
    </div>
</div>
