<div class="menu-overlay"></div>


<!-- jQuery  -->
<script src="~/Admin/vertical/assets/js/jquery.min.js"></script>
<script src="~/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/vertical/assets/js/metismenu.min.js"></script>
<script src="~/Admin/vertical/assets/js/waves.js"></script>
<script src="~/Admin/vertical/assets/js/simplebar.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<!-- SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/chart.js"></script>
<script src="~/Admin/vertical/assets/pages/chartjs-demo.js"></script>
<!-- Toastify.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<!-- Toastify scripts -->
@if (TempData["LoginSuccess"] != null)
{
    <script>
        var message = decodeURIComponent("@Html.Raw(Uri.EscapeDataString(TempData["LoginSuccess"].ToString()))");
        Toastify({
            text: message,
            duration: 3000,
            gravity: "top",
            position: "right",
            backgroundColor: "#28a745",
            stopOnFocus: true,
        }).showToast();
    </script>
}

@if (TempData["LoginFailed"] != null)
{
    <script>
        var message = decodeURIComponent("@Html.Raw(Uri.EscapeDataString(TempData["LoginFailed"].ToString()))");
        Toastify({
            text: message,
            duration: 3000,
            gravity: "top",
            position: "right",
            backgroundColor: "#dc3545",
            stopOnFocus: true,
        }).showToast();
    </script>
}

<script>

    function deleteContactConfirm(contactID) {
        Swal.fire({
            title: 'Bu mesajı silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal et!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/Contact/RemoveContact/" + contactID,
                    type: 'DELETE',
                    success: function () {
                        Swal.fire('Silindi!', 'Mesaj başarıyla silindi.', 'success').then(() => {
                            window.location.href = "/Admin/Contact/Index";
                        });
                    },
                    error: function (err) {
                        Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                    }
                });
            }
        });
    }

   
</script>



   



<!-- App js -->
<script src="~/Admin/vertical/assets/js/theme.js"></script>
